* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Fredoka', sans-serif;
}

header {
    max-width: 1110px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #E53170;
}