* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Fredoka', sans-serif;
}

header {
    text-align: center;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 1em;
    margin-top: 1em;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #E53170;
}

#bodyContent {
    margin-top: 30px;
}

.card {
    background: aquamarine;
    border: 1px solid coral;
    float: left;
    width: calc(100% / 3 - 20px);
    margin: 10px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.clearBoth {
    clear: both;
}